[user]
	email = Emaleth@protonmail.com
	name = Emaleth
	signingkey = /home/emaleth/.ssh/git_sign/git_sign
[core]
	editor = kate -b
	sshCommand = ssh -i /home/emaleth/.ssh/git_auth/git_auth

[gpg]
	format = ssh
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = master
